/* Geral */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    flex-wrap: nowrap; /* Impede quebra de linha */
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-item {
    white-space: nowrap; /* Impede quebra de linha nos itens */
}

.navbar .dropdown-menu {
    position: absolute;
}

.siccau-color {
    background-color: #14385d;
}

/* Remove o verde ao passar o cursor */
.navbar-nav .nav-link:hover, 
.navbar-nav .dropdown-item:hover {
    background-color: #14385d; /* Mesma cor de fundo para consistência */
    color: white; /* Garante que o texto continue branco */
}

/* Estilo específico para a imagem cau.png */
a[href="../Index.html"] img:hover {
    background-color: transparent;
    filter: none;
}

/* Footer */
footer {
    background-color: #14385d;
    color: white;
    text-align: center;
    padding: 10px 0;
}
